@import 'tailwindcss';

/*여기에 폰트 넣으시면 됩니다.*/
@theme {
  --color-custom-black: #000000;

  --color-custom-yellow-brand: #ffc107;

  --color-custom-white: #ffffff;
  --color-custom-white-brand: #f1f2f5;

  --color-custom-gray-900: #171717;
  --color-custom-gray-800: #262626;
  --color-custom-gray-700: #404040;
  --color-custom-gray-600: #525252;
  --color-custom-gray-500: #737373;
  --color-custom-gray-400: #a3a3a3;
  --color-custom-gray-300: #d4d4d4;
  --color-custom-gray-200: #e5e5e5;
  --color-custom-gray-100: #e8ebed;
  --color-custom-gray-50: #fafafa;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
